@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
  .welcome{
    font-family: 'Gloria Hallelujah', cursive !important;
    font-size: 50px;
  }
  .navbar span{
      margin-left: 10px;
  }